In [2]:
print('hello world')

hello world

# Cluster station notebook

## The challenge
Looking only at the weather data (that is, don’t include the latitude/longitude of the
weather station) can you use a clustering algorithm to see if these stations can be clustered
into groups that have “similar” weather? 
Note that you will have multiple weather readings for each station. 
* You could pick the most recent, an average, an extreme, 
* or you could potentially consider all of the points individually and look for clusters in the individual observations. 

__You should try to justify your choice__

In [3]:
import pandas as pd

In [4]:
dataPath = '../data/weather/'
stationData = pd.DataFrame.from_csv(dataPath+'stationData.csv',index_col=[0,1,2],parse_dates=False)
stationData

                         af   rain    sun  tmax  tmin
station   yyyy   mm
aberporth 1941.0 1.0    NaN   74.7    NaN   NaN   NaN
                 2.0    NaN   69.1    NaN   NaN   NaN
                 3.0    NaN   76.2    NaN   NaN   NaN
                 4.0    NaN   33.7    NaN   NaN   NaN
                 5.0    NaN   51.3    NaN   NaN   NaN
                 6.0    NaN   25.7    NaN   NaN   NaN
                 7.0    NaN   53.9    NaN   NaN   NaN
                 8.0    NaN   91.8    NaN   NaN   NaN
                 9.0    NaN   25.5    NaN   NaN   NaN
                 10.0   NaN  106.2    NaN   NaN   NaN
                 11.0   NaN   92.3    NaN   NaN   NaN
                 12.0   NaN   86.5    NaN   NaN   NaN
          1942.0 1.0    NaN  114.0   58.0   5.8   2.1
                 2.0    NaN   13.8   80.3   4.2   0.6
                 3.0    NaN   58.0  117.9   9.7   3.7
                 4.0    NaN   42.5  200.1  13.1   5.3
                 5.0    NaN  101.1  215.1  14.0   6.9
                 6.0    NaN    2.3  269.3  16.2   9.9
                 7.0    NaN   70.2  185.0  17.4  11.3
                 8.0    NaN   78.5  141.9  18.7  12.3
                 9.0    NaN  146.8  129.1  16.4  10.7
                 10.0   NaN  131.1   82.1  13.1   8.2
                 11.0   NaN   19.8   62.9   9.2   4.6
                 12.0   NaN  183.9   31.4   9.6   6.2
          1943.0 1.0    NaN  176.7   41.4   8.2   3.5
                 2.0    NaN   65.4   68.6   8.9   4.6
                 3.0    NaN   21.0  156.2  10.2   4.1
                 4.0    NaN   39.4  178.3  13.0   6.8
                 5.0    NaN   83.5  233.3  14.1   7.4
                 6.0    NaN   58.7  223.8  15.9   9.8
...                     ...    ...    ...   ...   ...
yeovilton 2018.0 1.0    6.0   69.2   55.1  10.2   2.8
                 2.0   15.0   28.4  129.3   7.3   0.1
                 3.0    9.0  121.4   82.6   9.3   2.1
                 4.0    0.0   58.4   99.1  14.2   7.2
                 5.0    0.0   45.4  221.6  19.0   7.4
                 6.0    0.0    5.6  248.3  22.8  11.6
                 7.0    0.0   13.8  242.3  25.9  13.5
                 8.0    0.0   53.8  138.5  22.6  12.8
                 9.0    0.0   36.4  149.0  19.6   9.4
                 10.0   4.0   51.8  132.8  15.4   6.2
                 11.0   4.0  102.6   73.8  12.1   5.3
                 12.0   2.0   94.2   27.2  11.0   5.3
          2019.0 1.0   14.0   33.8   53.2   7.8   1.0
                 2.0   10.0   47.2  111.4  11.8   1.9
                 3.0    2.0   66.0  110.0  12.3   4.8
                 4.0    2.0   49.4  155.2  14.8   4.7
                 5.0    2.0   17.6  197.3  17.3   6.1
                 6.0    0.0   69.2  141.6  19.4  10.4
                 7.0    0.0   14.8  221.1  24.0  12.6
                 8.0    0.0   38.4  176.6  22.6  12.4
                 9.0    0.0   83.8  155.3  19.9  11.0
                 10.0   1.0  112.4   69.0  14.9   7.6
                 11.0   4.0   87.0   45.9  10.4   4.3
                 12.0   7.0  139.4   56.7  10.3   3.2
          2020.0 1.0    5.0   55.8   44.0   9.6   4.1
                 2.0    2.0  117.4   63.1  10.8   4.5
                 3.0    6.0   43.4  159.2  11.5   3.0
                 4.0    3.0   39.8  235.0  17.5   5.3
                 5.0    2.0    3.6  305.6  19.7   6.8
                 6.0    0.0  103.0  187.6  20.5  11.0

[37770 rows x 5 columns]